* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Text", sans-serif;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../font/SF\ Pro\ Text.ttf");
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  border: none;
  cursor: pointer;
}
.container {
  width: 1440px;
  margin-inline: auto;
  padding-inline: 100px 95px;
}
#siteheader {
  width: 100%;
  min-width: 1440px;
  min-height: 126px;
  position: fixed;
  background-color: white;
  box-shadow: 0px -1px 0px 0px #c4cdd5 inset;
}
.news-bg {
  width: 100%;
  background-color: #454f5b;
}
.news {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 197px;
  color: white;
  padding: 0 100px;
  justify-content: right;
  padding: 0 100px;
}
.news h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.12em;
}
.news button {
  background: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.12em;
  text-decoration: underline;
  color: white;
}
.nav-cont {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  gap: 100px;
  justify-content: space-between;
}
.nav-cont ul {
  width: 502px;
  gap: 32px;
  align-items: center;
}
.nav-cont ul li {
  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
  color: #161c24;
}
.strelka::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/strelka.svg);
  margin-left: 8px;
}
.header-right {
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-right div {
  width: 88px;
  display: flex;
  justify-content: space-between;
}
.header-right h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
}
.header-right button {
  background: none;
}
.space {
  width: 100%;
  height: 139.73px;
  margin-bottom: 20px;
}
/* main page */
.crumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.crumbs span {
  color: #afafaf;
}
.h-text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}
.h-text h3 {
  font-size: 28px;
  line-height: 42px;
}
.h-text span {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top div span {
  margin-left: 25px;
}
.top button {
  padding: 7px 72px 7px 72px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: white;
}
.blue-btn {
  border: 1px solid #add7ff;
}
.none-btn {
  background: none;
}
.grey-btn {
  border: 1px solid #c4cdd5;
}
.flex {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 0 0;
}
.left {
  width: 288px;
  height: 460px;
  padding: 24px;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid #c4cdd5;
}
.left button {
  width: 240px;
  padding: 12px 0px 12px 0px;
  background: none;
  display: flex;
  justify-content: space-between;
}
.price-filter {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px -1px 0px 0px #ededed inset;
  padding-bottom: 16px;
}
.open {
  height: 72px;
  gap: 16px;
  margin-bottom: 16px;
}
.price {
  width: 240px;
  height: 44px;
  gap: 8px;
}
.price input {
  width: 116px;
  height: 44px;
  border: 1px solid #eaeaea;
  padding: 10px 2px;
}
.price input:focus {
  border: 1px solid #4295e4;
  outline: #4295e4;
}
.closed {
  height: 50px;
  gap: 73px;
  box-shadow: 0px -1px 0px 0px #ededed inset;
}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
}
.card {
  width: 288px;
  height: 453px;
  margin-bottom: 35px;
}
.img {
  width: 288px;
  height: 320px;
  padding: 12px;
}
.i1 {
  background-image: url(../img/special-1.png);
}
.i2 {
  background-image: url(../img/special-2.png);
}
.i3 {
  background-image: url(../img/special-3.png);
}
.spc {
  cursor: pointer;
  text-align: left;
}
.card-text {
  box-shadow: 0px 1px 3px 0px #eaeaea;
  padding: 10px 12px 10px 12px;
}
.reyting {
  margin-bottom: 10px 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.reyting span {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}
.card h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 23.87px;
  margin-top: 10px;
}
.card h2 span {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;

  color: #454f5b;
  text-decoration: line-through;
}
.paggination {
  margin-inline: auto;
  cursor: pointer;
}
.page2-top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 64px;
}
.page2-top button {
  background: none;
}
.page2-top h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
}
.ceo {
  width: 1240px;
  height: 1210px;
}
